{% extends 'userprofile/base.html' %}
{% block content %}
    <div class="col-md-9 col-lg-9 col-sm-9 col-xs-9 ser-fri">
        <a data-toggle="collapse" href="#collapseExample" role="button"
           aria-controls="collapseExample">
            <div class="search-friends">
                <h3 class="search-text">Search for friends</h3>
                <i class="fa fa-angle-right icon-ser"></i>

            </div>
        </a>
        <div class="collapse {% if vars.first_name %} show{% endif %}" id="collapseExample">
            <div class="card card-body form-col">
                <div class="row">
                    <form method="get">
                        <div class="form-row align-items-center">
                            <div class="form-group col-md-4 ">
                                <div class="col-auto my-1">
                                    <label for="name" class="mr-sm-2">Name</label>
                                    <input type="text" class="form-control" id="name" name="first_name"
                                           placeholder="Name"
                                           value="{{ vars.first_name }}">
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="col-auto my-1">
                                    <label class="mr-sm-2" for="inlineFormCustomSelect">Preference</label>
                                    <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                                        <option selected>Choose...</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="col-auto my-1">
                                    <label class="mr-sm-2" for="inlineFormCustomSelect">Preference</label>
                                    <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                                        <option selected>Choose...</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-auto"></div>
                            <div class="search-but">
                                <input type="submit" class="button-sub" value="Submit">
                            </div>
                    </form>
                </div>
            </div>

        </div>

    </div>
    <div class="row">
        {% for user in users %}
            <div class="col-md-6">
                <div class="userProfileCard">

                </div>
            </div>
        {% endfor %}
    </div>
    </div>























{% endblock %}
{% block script %}
    <script>


    </script>



{% endblock %}
