{% extends 'base.html' %}

{% block content %}
    <div class="content" style="margin-top:120px;">
        <div class="container-fluid" style="background: red;">

            <div class="container">
                <div class="row">
                    <div class="col-md-3" style="background: lightskyblue">
                        {% for friend in friends %}
                        {{ friend.friend.name }}
                        {% endfor %}


                    </div>
                    <div class="col-md-6" style="background: #1e7e34;"><h1>{{ user.name }}</h1>
                        <h2>{{ user.birth_date }}</h2>
                        <form action="{% url 'user_page' request.user.username %}" method="post">
                            {% csrf_token %}
                            <input type="text" name="post_content">
                            <input type="submit">
                        </form>
                        {% for post in posts %}
                            <h4>{{ post.title }}</h4>
                            <p>{{ post.body }}</p>
                            <form action="{% url 'post_comment' post.pk %}" method="post">
                                {% csrf_token %}
                                <input type="text" name="post_comment">
                                <input type="submit" value="comment">
                            </form>
                            {% for comment in post.comment_set.all %}
                                <p>{{ comment }}</p>
                            {% endfor %}


                        {% endfor %}
                    </div>
                    <div class="col-md-3" style="background: lightskyblue;">

                    </div>
                </div>


            </div>
        </div>
    </div>




{% endblock %}