{% extends 'base.html' %}

{% block content %}
    <h1>{{ user.name }}</h1>
    <h2>{{ user.birth_date }}</h2>

    {% for post in posts %}
        <h4>{{ post.title }}</h4>
        <p>{{ post.body }}</p>
        {% for comment in posts.comments.all %}
        {{ comments }}
        {% endfor %}

        <form action="{% url 'post_comment' post.pk %}" method="post">
        {% csrf_token %}
                <input type="text" name="post_comment">
                <input type="submit" value="comment">
        </form>
    {% endfor %}
    <form action="{% url 'user_page' %}" method="post">
        {% csrf_token %}
            <input type="text"  name="post_content">
            <input type="submit">
    </form>


{% endblock %}