{% extends 'userprofile/base.html' %}
{% block content %}
    <div class="col-md-9 col-lg-9 col-sm-9 col-xs-9 ser-fri">
        <a data-toggle="collapse" href="#collapseExample" role="button"
           aria-controls="collapseExample">
            <div class="search-friends">
                <h3 class="search-text">Search for friends</h3>
                <i class="fa fa-angle-right icon-ser"></i>

            </div>
        </a>
        <div class="collapse {% if vars.first_name %} show{% endif %}"   id="collapseExample">
            <div class="card card-body form-col">
                <div class="row">

                    <form method="get">
                        <div class="form-group col-md-4">
                            <label for="name">Name</label>
                            <input type="text" class="form-control"  id="name" name="first_name" placeholder="Name" value="{{ vars.first_name }}">
                        </div>

                        <div class="col-md-4">
                            <label for="country">Country</label>
                            <select class="selectpicker show-tick">
                                <option>Mustard</option>
                                <option>Ketchup</option>
                                <option>Relish</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label for="country">City</label>
                            <select class="selectpicker show-tick">
                                <option>Mustard</option>
                                <option>Ketchup</option>
                                <option>Relish</option>
                            </select>
                        </div>
                        <input type="submit" class="button-sub" value="Submit">
                    </form>

                </div>
                <div class="search-but">
                    <button type="submit" class="button-sub">Submit
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            {% for user in users %}
                <div class="col-md-6">
                    <div class="userProfileCard">
                        <div class="profile-top">
                            <a href="{% url 'user_page' user.name %}" class="profileside">
                                <img class="card-img-top "
                                     src="https://gastrotochka.com/img/profile_noimage.png"
                                     alt="Edit photo"> <span>{{ user.name }}</span> </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>























{% endblock %}
{% block script %}
    <script>


    </script>



{% endblock %}
