* {
    box-sizing: border-box;

}

body,
html {
    margin: 0;
    font: bold 14px/1.4 'Open Sans', arial, sans-serif;
    background: white;
}


.menu-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    min-height: 63px;
    background-color: #f9f9f9;
    z-index: 4500;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);

}

nav ul li a.nav-link {
    text-transform: uppercase;
}

nav ul li a,
 nav ul li a:after,
 nav ul li a:before {
    transition: all 0.5s;
}

 nav ul li a.nav-link:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #26B7E7;
    height: 3px;
     border-radius: 3px;
}

 nav ul li a.nav-link:hover {
    color: #555;
}

nav ul li a {
    position: relative;
}

nav ul li a:hover:after {
    width: 100%;
}


@media screen and (max-height: 300px) {
    .navigation-bar ul {
        margin-top: 40px;
    }
}