body {
    margin: 0;
    background-color: white;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: black;
}

div.postfield div.button-postfield {
    padding-right: 16px;
    display: flex;
    justify-content: flex-end;
}

/*sidebar*/
.side-bar {
    width: 100%;
    height: auto;
    background-color: #f9f9f9;

}

.online_users {
    max-width: 100%;
    height: auto;
    background-color: #26b7e7;
    margin: 20px 0;
    padding: 5px 25px;
    color: white;
    font-size: 18px;
}

.sidelists a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 21px;
    color: #818181;
    display: block;
}

.online-user {
    width: 100%;
    height: auto;
    background-color: red;

}

@-webkit-keyframes circle {
    0% {
        width: 1px;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        height: 1px;
        z-index: -1;
        background: #eee;
        border-radius: 100%;
    }
    100% {
        background: #aaa;
        height: 5000%;
        width: 5000%;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        border-radius: 0;
    }
}

/**/
.sidelists > ul > li > a {
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.sidelists > ul > li > a:after {
    display: block;
    position: absolute;
    margin: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '.';
    color: transparent;
    width: 1px;
    height: 1px;
    border-radius: 50%;
    background: transparent;
}

.sidelists > ul > li > a,
.sidelists ul li a:after,
.sidelists ul li a:before {
    transition: all .5s;
}

.sidelists > ul > li > a:hover {
    color: #555;
}

.sidelists > ul > li > a:hover:after {
    -webkit-animation: circle 1.5s ease-in forwards;
}

/**/
@media screen and (max-height: 450px) {
    .sidelists {
        padding-top: 15px;
    }

    .sidelists a {
        font-size: 18px;
    }
}

div.card span {
    position: absolute;
    left: 15%;
    bottom: 15%;
    display: none;
}

div.card:hover span {
    display: inline-block;
}

div.card span i.fa {
    font-size: 28px;
    color: #26b7e7;
}

.imageside {
    background-color: #f9f9f9;
    border: none;

}

h5.imagetitle {
    text-decoration: none;
}

.cardimage {
    width: 80%;
    position: relative;
}

div.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
}

.bodycard {
    padding: 5px;
    border-bottom: 1px solid #e5e5e5;
}

div.profile-page {
    margin-top: 90px;
}

.sidelists {
    padding: 10px;
}

.postfield {
    width: 100%;
    background-color: #F9F9F9;
    height: auto;
    padding: 15px;
    margin-bottom: 20px;
    position: relative;
}

div.posticons span {
    color: black;
    font-weight: bold;
}

div.posticons {
    padding-bottom: 10px;
    padding-left: 15px;
}

div.postfield button.button-sub {
    padding: 10px 20px;
    color: white;
    background-color: #26b7e7;
    font-size: 20px;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 4px;

}

div.comfield img.card-img-top {
    width: 9% !important;
    margin-bottom: 10px;
    margin-left: 15px;
}

div.comfield div.profile-top {
    display: flex;

}

div.comfield a.profilemenu {
    margin-bottom: 10px;
    margin-right: 15px;
}

div.comfield img.card-img-top:hover {
    border: 2px solid #26b7e7;
    border-radius: 50%;
}

.form-em > .form-group {
    display: flex;
    justify-content: flex-end;
}

div.dropdown div.dropdown-menu {
    transform: translate3d(-122px, 6px, 0px) !important;
}

div.comfield p {
    font-weight: normal;
}

div.comfield div.likesandcomment {
    display: flex;
    justify-content: space-between;
    margin: 15px;
}

.collapse > .collapse-com {
    margin-top: 30px !important;
    border-radius: 0px !important;
    border: none !important;
    background-color: #F9F9F9 !important;
    border-top: 1px solid rgba(0, 0, 0, .125) !important;
    padding: 20px;
    transition: 0.1s ease-in-out;

}

.collapse-com {
    display: flex;

}

.collapse-com > .card-img-top:hover {
    border: 0 !important;
}

div.collapse-com > img {
    width: 5% !important;

}

/*custom file uplaod by Kamuran-*/
a#upload-btn-p:hover, a#upload-btn-v:hover {
    cursor: pointer;
}

.collapse-com > .commentfield {
    margin-left: 10px;
}

/*loading section*/
.loading {

    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: visible;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;


}

/* Transparent Overlay */
div.postfield > div.loading:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);


}


/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
    /* hide "loading..." text */
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.loading:not(:required):after {
    content: '';
    display: block;
    font-size: 10px;
    position: absolute;
    bottom: 50%;
    right: 50%;
    width: 1em;
    height: 1em;
    margin-top: -0.5em;
    -webkit-animation: spinner 1500ms infinite linear;
    -moz-animation: spinner 1500ms infinite linear;
    -ms-animation: spinner 1500ms infinite linear;
    -o-animation: spinner 1500ms infinite linear;
    animation: spinner 1500ms infinite linear;
    border-radius: 0.5em;
    -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
    box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-o-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
